<a href="https://colab.research.google.com/github/wfsilva-uea/coari/blob/master/northwind.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
# create alchemy url connection from heroku
ALCHEMY_CONNECTION = 'postgresql+psycopg2://wbhryxespoclma:9bf9f3d993e77d3b92febfe4211bd2fd79adc421a5755381a67798005603800c@ec2-54-147-126-202.compute-1.amazonaws.com:5432/da01qrqols9c1s'

### Popular a base de dados do PostgreSQL no Heroku

In [ ]:
# install postgres binary lib
!pip install psycopg2-binary

# getting sql file to runtime
!npx degit wfsilva-uea/northwind/northwind.sql northwind.sql -f

In [38]:
# read sql file and store in variable
with open('northwind.sql', 'r') as sql_file:
  sql_content = sql_file.read()

# declare a new connection
from psycopg2 import connect, sql

connection = connect (
  dbname='da01qrqols9c1s',
  user='wbhryxespoclma',
  host='ec2-54-147-126-202.compute-1.amazonaws.com',
  password='9bf9f3d993e77d3b92febfe4211bd2fd79adc421a5755381a67798005603800c'
)
with connection.cursor() as cursor:
  cursor.execute(sql_content)

### Consultas

In [42]:
# requirements
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
# create alchemy engine
engine = create_engine(ALCHEMY_CONNECTION, echo=True)

# read using pandas
df = pd.read_sql_query('select distinct products.productname as tenmostexpensiveproducts, products.unitprice from products order by products.unitprice desc', con=engine)
df

2020-11-21 22:33:53,709 INFO sqlalchemy.engine.base.Engine select version()
2020-11-21 22:33:53,710 INFO sqlalchemy.engine.base.Engine {}
2020-11-21 22:33:53,773 INFO sqlalchemy.engine.base.Engine select current_schema()
2020-11-21 22:33:53,774 INFO sqlalchemy.engine.base.Engine {}
2020-11-21 22:33:53,838 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-11-21 22:33:53,839 INFO sqlalchemy.engine.base.Engine {}
2020-11-21 22:33:53,870 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-11-21 22:33:53,873 INFO sqlalchemy.engine.base.Engine {}
2020-11-21 22:33:53,905 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2020-11-21 22:33:53,906 INFO sqlalchemy.engine.base.Engine {}
2020-11-21 22:33:53,974 INFO sqlalchemy.engine.base.OptionEngine select distinct products.productname as tenmostexpensiveproducts, products.unitprice from products order by products.unitprice desc
2020-11-21 22:33:53,975 INFO sqlalchemy.engine.base.OptionEngine {}